<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<style type="text/css">
	.input1{
		color:#FFF;
		font-size: 40px;
		font-family: "楷体";
		position: relative;
	}
	.input2{
		color:#789;
		font-size: 35px;
		font-family: "楷体";
		position: relative;
	}
	.input3{
		color:#FFF;
		font-size: 35px;
		font-family: "楷体";
		position: relative;
		background-color: black;
	}
	.div1{
		width:100%;
		margin-top: 170px;
		text-align: center;
	}
	</style>
	<title>开始</title>
</head>
	<body style="background-color: black">
		<form method="post" action="/input">
			<div class="div1">
				<label class="input1" for="keyword"> 关键词:</label>
				<input class="input2" type="text" name="keyword" value="请输入您要搜索的关键词"/>
				<input class="input3" type="submit" value="分析">
			</div>
		</form>

	</body>
</html>



