<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="utf-8">
	<style type="text/css">
	.div1{
		width:100%;
		text-align: center;
	}
	.h1{
		font-size: 60px;
		font-family: "楷体";
		color: #FFF;
		text-align: center;
		line-height: 350px;
	}
	.div_author{
		margin-top: 100px;
		font-family: "微软雅黑";
		color: #F0F0F0;
		font-size: 15px;
		padding-left: 70%;
	}
	.input3{
		color:#FFF;
		font-size: 35px;
		font-family: "楷体";
		position: relative;
		background-color: black;
	}
	</style>
	<title>start</title>
</head>
<body style="background-color: black">
	<h1 class="h1">新媒体网络爬虫及热度分析</h1>
		<form method="post" action="/start">
			<div class="div1">
				<input class="input3" type="submit" value="进入">
			</div>
		</form>

	<div class="div_author">
				<span>作者：王飞龙<span><br>
		<span>西安工业大学理学院2017届学生<span>
	</div>
</body>
</html>